                    *,
                     ::before,
                     ::after {
                        padding: 0;
                        margin: 0;
                        bottom: 0;
                        box-sizing: border-box;
                    }
                    
                    a {
                        text-decoration: none;
                    }
                    
                    ul,
                    ol,
                    li {
                        list-style: none;
                    }
                    
                    img {
                        vertical-align: top;
                    }
                    
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-weight: inherit;
                        font-style: inherit;
                    }
                    
                    html,
                    body {
                        height: 100%;
                        line-height: 1;
                        font-size: 14px;
                        font-weight: 500;
                        color: rgb(28, 21, 54);
                        font-family: Montserrat;
                    }
                    
                    .wrapper {
                        /* max-height: 100%; */
                        overflow: hidden;
                    }
                    /* ================================================================================== */
                    
                    ._container {
                        max-width: 1046px;
                        margin: 0px auto;
                        padding: 0 15px;
                    }
                    
                    ._ibg {
                        position: relative;
                    }
                    
                    .ibg img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                    /* ----------------------------------------HEADER------------------------------------------------------- */
                    
                    .header {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 0;
                        z-index: 50;
                    }
                    
                    .header__container {
                        display: flex;
                        min-height: 104px;
                        align-items: center;
                    }
                    
                    @media (max-width: 479px) {
                        .header__container {
                            min-height: 85px;
                        }
                    }
                    
                    ._container {}
                    
                    .header__logo {
                        font-size: 24px;
                        font-weight: 700;
                        color: inherit;
                    }
                    
                    .header__menu {
                        margin: 0 0 0 133px;
                    }
                    
                    @media (max-width: 992px) {
                        .header__menu {
                            margin: 0 0 0 80px;
                        }
                    }
                    
                    @media (max-width: 762px) {
                        .header__menu {
                            margin: 0 0 0 40px;
                        }
                    }
                    
                    @media (max-width: 479px) {
                        .header__menu {
                            margin: 0 0 0 20px;
                        }
                    }
                    
                    .menu {
                        padding: 5px 0;
                    }
                    
                    .menu__list {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    
                    .menu__item {}
                    
                    .menu__item:not(:last-child) {
                        margin: 0 21px 0 0px;
                        /* Отступы у каждого кроме последнего элемента */
                    }
                    
                    .menu__link {
                        color: #737373;
                        font-weight: 600;
                        line-height: calc(24/14 * 100%);
                        /*171% - процет отступа. Формула расчета при 14px шрифта*/
                    }
                    
                    @media (max-width: 479) {
                        .menu__link {
                            font-size: 18px;
                        }
                    }
                    /* MAIN */
                    
                    .page {
                        flex: 1 1 auto;
                    }
                    /* FOOTER */
                    
                    .footer {}
                    /* MAIN-BLOCK */
                    
                    .page__main-block {}
                    
                    .main-block {
                        position: relative;
                        ;
                    }
                    
                    .main-block_containter {}
                    
                    ._container {}
                    
                    .main-block__body {
                        padding: 184px 0px 191px 0px;
                        position: relative;
                        z-index: 2;
                        max-width: 400px;
                    }
                    
                    .main-block__body>*:not(:last-child) {
                        margin: 0 0 35px 0;
                    }
                    
                    .main-block__title {
                        font-size: 58px;
                        line-height: 137%;
                        font-weight: 800;
                        letter-spacing: 0.2px;
                    }
                    
                    @media (max-width:497px) {
                        .main-block__title {
                            font-size: 42px;
                        }
                    }
                    
                    .main-block__text {
                        color: #737373;
                        font-size: 20px;
                        line-height: 1.5;
                    }
                    
                    .main-block__buttons {
                        display: inline-flex;
                        flex-wrap: wrap;
                        margin: -10px 0;
                    }
                    
                    .main-block__button {
                        border-radius: 37px;
                        display: flex;
                        min-height: 48px;
                        justify-content: center;
                        align-items: center;
                        letter-spacing: 0.2px;
                        font-weight: 700;
                        line-height: 150%;
                        padding: 5px 36px;
                        text-align: center;
                        margin: 10px 0;
                    }
                    
                    @media(max-width:479px) {
                        .main-block__button:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
                    
                    .main-block__button_orange {
                        background: #ff7b47;
                        color: #fff;
                    }
                    
                    .main-block__button_border {
                        color: #0d5c63;
                        border: 1px solid #0d5c63;
                    }
                    
                    .main-block__image {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                    
                    @media (max-width:1300px) {
                        .main-block__image img {
                            object-fit: right;
                        }
                    }
                    
                    @media (max-width:992px) {
                        .main-block__image {
                            opacity: 0.5;
                        }
                    }
                    /* =================BLOCKS======================================= */
                    
                    .page__services {
                        /* display: flex; */
                        margin: -111px 0 0 0;
                        position: relative;
                        z-index: 2;
                    }
                    
                    .services {}
                    
                    .services__conateiner {}
                    
                    ._container {}
                    
                    .services__body {
                        display: flex;
                        margin: 0 -15px;
                        flex-wrap: wrap;
                        margin: 0 -15px -30px 0;
                    }
                    
                    .services__column {
                        padding: 0 15px;
                        flex: 0 1 33.333%;
                        margin: 0 0 30px 0;
                    }
                    
                    @media (max-width:992px) {
                        .services__column {
                            flex: 0 1 50%;
                        }
                    }
                    
                    .services__item {
                        box-shadow: 0 13px 19px rgb(0, 0, 0, 0.07);
                        background-color: white;
                        padding: 0 0 0 15px;
                        height: 100%;
                        width: 300px;
                    }
                    
                    .services__item>*:not(:last-child) {
                        margin: 0 0 10px 0;
                    }
                    
                    .item-service .item-service {}
                    
                    .item-service__icon {
                        padding: 0 0 0 70px;
                    }
                    
                    .item-service__icon img {
                        width: 33%;
                    }
                    
                    .item-service__title {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 133%;
                    }
                    
                    .item-service__text {
                        color: #737373;
                    }
                    
                    .item-service__third-block {
                        /* background-color: #68e6f1; */
                    }